# dependencies
node_modules/

# environment variables
.env
.env.*

# build artifacts
/frontend/build

# logs
logs
*.log

# editor specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db